.caixa1{
    background-color: blue;
    width: 100px;
    height: 100px;
    position: relative;
    left: 100px;
    top: 50px;
}
.caixa2{
    background-color: greenyellow;
    width: 100px;
    height: 100px;
    position: relative;
    z-index: 10;
}
.caixa3{
    background-color: red;
    width: 100px;
    height: 100px;
}