* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


.cabecalho {
  background-color: #222222;
  display: flex;
  height: 100px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.lista li {
  list-style-type: none;
}
.navrodape li {
  list-style-type: none;
}
.lista {
  font-family: sans-serif, Roboto;
  color: white;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

main {
  background-color: #e5e5e5;
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.card2 {
 
  width: 491px;
  height: 350px;
  background: #ffffff;
  border-radius: 5px;
  text-align: center;
}

/* é sempre necessário adicionar um container pai.*/
/*aqui eu coloquei um container pai para a div=top e para a div de imagem */
/*criei uma div para a imagem pq a tag img é um elemento de linha */
/*coloquei o display flex e o space between, e também um padding... assim obtivemos o alinhamento esperado*/


/*Remover todos os top e left que vieram do figma, somente são utilizados com a propriedade position */

.card2__conteudo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 60px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;  
    line-height: 23px;
    color: #222222;
  }

.pizzas{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;

color: #222222;
}

.titulo {
  color: red;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  align-self: flex-start;
}
.card1 {
  display: block;
  width: 491px;
  height: 350px;
  left: 514px;
  top: 135px;
  background-image: url("../img/delivery.jpg");
  border-radius: 5px;
  text-align: center;
}
p {
  color: red;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}
.rodape {
  width: 100%;
  height: 150px;
  left: calc(50% - 1024px / 2);
  bottom: 8px;
  background: #222222;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.navrodape {
  font-family: sans-serif, Roboto;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 50px;
  padding-top: 20px;
}
.rodape {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.navrodape {
  align-self: center;
}
.logofooter {
  align-self: center;
}
