*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    --cor-azul: rgb(127, 127, 241);
    --cor-cinza: gray;
    --cor-amarelo: yellow;
}
header{
position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background-color: var(--color-azul);
}
