*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    --cor-azul: rgb(127, 127, 241);
    --cor-cinza: gray;
    --cor-amarelo: yellow;
}
header{
  position: fixed;
  padding: 20px;
}
.cardsnav{
  display: inline-flex;
  gap: 50px;
  justify-content:space-between;
  align-self: center;
  width: 100%;
  height: 213px;
}
.logo {
width: 340px;
height: 140px;
background-image: url('/img/bandeira.jpg');
background-repeat: no-repeat;
background-position: center;
background-size:100%;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 36px;
}
.botao{
width: 197px;
height: 82px;
background: #C4C4C4;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 36px;
}
.navegacao{
  display: flex;
  gap:30px;
  padding: 27px;

}